[defaults]
inventory            = inventory.aws_ec2.yml
roles_path           = roles:modules
host_key_checking    = False
retry_files_enabled  = False
gathering            = smart
interpreter_python   = auto_silent
forks                = 20
timeout              = 60

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=120s -o ServerAliveInterval=30
